<div class="examples-page">
    <div class="right-side">

    </div>
    <div class="content">
        <h1 class="title">דוגמאות</h1>
        <div class="examples">
            <div class="no-examples" *ngIf="drawings.length === 0">
                <h2>עדיין אין דוגמאות לצורה זו. נשמח אם תהיה הראשון!</h2>
            </div>
            <div class="example" *ngFor="let drawing of drawings">
                <h5>{{drawing.name}}</h5>
                <div class="image">
                    <img src={{drawing.displayDrawingUrl}} alt="התמונה לא עלתה" (click)="openImage(drawing.drawingUrl)">
                    <!-- <div class="black-screen">
                        <span>{{drawing.name}}</span>
                    </div> -->
                </div>
            </div>
            <mat-spinner style="position: absolute;" *ngIf="inProgress"></mat-spinner>

        </div>
        <!-- <canvas id="canvas">canvas</canvas> -->
        <div class="add">
            <button title="רוצה להוסיף משלך?" (click)="add()" class="add-example" mat-mini-fab color="accent"
                aria-label="Example icon button with a plus one icon">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="left-side">
        <img class="logo" src="../../../assets/complete me.png" (click)="toHome()" />
    </div>
</div>