<h1 mat-dialog-title><b>כניסה</b></h1>
<br>
<div class="inputs" backgroundColor="accent" mat-dialog-content>
    <mat-form-field>
        <mat-label>שם</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>סיסמה</mat-label>
        <input matInput [(ngModel)]="data.password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="actions" mat-dialog-actions>
    <button mat-raised-button color="primary" mat-button [mat-dialog-close]="data.password" cdkFocusInitial>הכנס</button>
    <br>
    <div class="signup">
        <h4>אין לך עדיין חשבון?</h4>
        <button mat-raised-button color="primary" mat-button (click)="onNoClick()">הרשם</button>
    </div>
    <br>
</div>